{% extends "blog/main.html" %}
{% block content %}
    <p>
      <h1>Topics ({{ topics|length }} items)</h1>
      <h2>
        <a href="{% url 'blog:new_topic' %}">Add</a>
      </h2>
    </p>
    {% for topic in topics %}
      <h2>{{forloop.counter}}. {{ topic }} (
      <a href={% url 'blog:topic' topic.id %}>Read</a>
      <a href="{% url 'blog:new_topic' %}">Edit</a>
      <a href="{% url 'blog:new_topic' %}">Delete</a>
      )
      </h2>
    {% empty %}
      <p>No topics have been added yet.</p>
    {% endfor %}
  {% endblock content %}
